{{#common}}.{{/common}}{{^common}}${{/common}}{{prefix}} 
	background-repeat no-repeat{{#common}}
	background-image url({{{sprite}}}){{/common}}

{{#svg}}{{#selector}}.{{#escape}}{{expression}}{{/escape}}{{^last}},{{/last}}
{{/selector}}{{#sprite}}	background-position {{position}}{{^common}}
{{/common}}{{/sprite}}{{^common}}	@extend ${{prefix}}
	background-image url({{#sprite}}{{{sprite}}}{{/sprite}}{{^sprite}}{{#encode}}"{{{encoded}}}"{{/encode}}{{^encode}}{{{path}}}{{/encode}}{{/sprite}}){{/common}}
{{#dims}}{{#dimensions}}

{{#selector}}.{{#escape}}{{expression}}{{/escape}}{{^last}},{{/last}}
{{/selector}}	width {{width}}px
	height {{height}}px
{{/dimensions}}{{/dims}}

{{/svg}}
