{{#common}}.{{/common}}{{^common}}%{{/common}}{{prefix}} {
	background-repeat: no-repeat;{{#common}}
	background-image: url({{sprite}});{{/common}}
}

{{#svg}}{{#selector}}.{{expression}}{{^last}},
{{/last}}{{/selector}} {
	background-position: {{position}};{{^common}}
	@extend %{{prefix}};
	background-image: url({{#encode}}"{{encoded}}"{{/encode}}{{^encode}}{{path}}{{/encode}});{{/common}}
}{{#dims}}

{{#selector}}.{{expression}}{{^last}},
{{/last}}{{/selector}} {
	width: {{width}}px;
	height: {{height}}px;
}{{/dims}}

{{/svg}}